.callback
{
    position: relative;

    overflow: hidden; 

    height: 700px;

    background: url('/img/callback.png') 50% 50%;
}
.callback h1
{
    font-size: 8vw;
    font-weight: 900;

    position: absolute;
    top: 0;
    left: 50%;

    width: 100%;
    margin: 0;

    transform: translate(-50%); 
    text-align: center;
    letter-spacing: 4.4px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, .35);
}
.callback form
{
    box-sizing: border-box;
}
@media (max-width: 767px)
{
    .callback form
    {
        margin-top: 40px;
    }
}
@media (max-width: 767px)
{
    .callback form .flex
    {
        flex-direction: column;
    }
}
.callback form input,
.callback form textarea
{
    font-family: 'Muller'; 

    box-sizing: border-box;
    width: 100%;
    padding: 15px 40px;

    border: none;
    outline: none;
    background: #fff;
}
@media (max-width: 767px)
{
    .callback form input,
    .callback form textarea
    {
        margin-bottom: 20px;
    }
}
.callback form input:not(:last-child)
{
    margin-right: 45px;
}
.callback form textarea
{
    height: 130px; 
    margin-top: 40px;
}
.callback form input[type='submit']
{
    font-size: 20px;
    font-weight: 500;

    display: inline-block;

    width: 30%;
    margin-top: 100px;
    padding: 20px 50px;

    cursor: pointer;
    transition: all .3s; 
    letter-spacing: .5px;
    text-transform: uppercase;

    color: #efefef;
    background: #e41659;
}
.callback form input[type='submit']:hover
{
    transition: all .3s; 

    color: #e41659;
    background: #fff;
}
@media (max-width: 767px)
{
    .callback form input[type='submit']
    {
        width: 100%;
    }
}
