@font-face
{
    font-family: 'Muller';
    font-weight: 200;
    font-style: italic; 

    src: url('../fonts/subset-MullerUltraLightItalic.woff2') format('woff2'), url('../fonts/subset-MullerUltraLightItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 100;
    font-style: normal; 

    src: url('../fonts/subset-MullerThin.woff2') format('woff2'), url('../fonts/subset-MullerThin.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 100;
    font-style: italic; 

    src: url('../fonts/subset-MullerThinItalic.woff2') format('woff2'), url('../fonts/subset-MullerThinItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 900;
    font-style: normal; 

    src: url('../fonts/subset-MullerBlack.woff2') format('woff2'), url('../fonts/subset-MullerBlack.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 400;
    font-style: normal; 

    src: url('../fonts/subset-MullerRegular.woff2') format('woff2'), url('../fonts/subset-MullerRegular.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 500;
    font-style: italic; 

    src: url('../fonts/subset-MullerMediumItalic.woff2') format('woff2'), url('../fonts/subset-MullerMediumItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 200;
    font-style: normal; 

    src: url('../fonts/subset-MullerUltraLight.woff2') format('woff2'), url('../fonts/subset-MullerUltraLight.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 800;
    font-style: italic; 

    src: url('../fonts/subset-MullerBoldItalic.woff2') format('woff2'), url('../fonts/subset-MullerBoldItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 300;
    font-style: normal; 

    src: url('../fonts/subset-MullerLight.woff2') format('woff2'), url('../fonts/subset-MullerLight.woff') format('woff');
}

@font-face
{
    font-family: 'Muller Light';
    font-weight: 300;
    font-style: italic; 

    src: url('../fonts/subset-MullerLightItalic.woff2') format('woff2'), url('../fonts/subset-MullerLightItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller Regular';
    font-weight: 400;
    font-style: italic; 

    src: url('../fonts/subset-MullerRegularItalic.woff2') format('woff2'), url('../fonts/subset-MullerRegularItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 500;
    font-style: normal; 

    src: url('../fonts/subset-MullerMedium.woff2') format('woff2'), url('../fonts/subset-MullerMedium.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 900;
    font-style: italic; 

    src: url('../fonts/subset-MullerBlackItalic.woff2') format('woff2'), url('../fonts/subset-MullerBlackItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Muller';
    font-weight: 800;
    font-style: normal; 

    src: url('../fonts/subset-MullerBold.woff2') format('woff2'), url('../fonts/subset-MullerBold.woff') format('woff');
}

@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/icomoon.eot?yi2gr2');
    src: url('../fonts/icomoon.eot?yi2gr2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?yi2gr2') format('truetype'), url('../fonts/icomoon.woff?yi2gr2') format('woff'), url('../fonts/icomoon.svg?yi2gr2#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before
{
    content: '\e900';
}

.icon-medal:before
{
    content: '\e901';
}

.icon-trial:before
{
    content: '\e902';
}

.icon-check:before
{
    content: '\e903';
}

.icon-stats:before
{
    content: '\e904';
}

.icon-calculator:before
{
    content: '\e905';
}

.icon-connections:before
{
    content: '\e906';
}

.icon-instagram:before
{
    content: '\e907';
}

.icon-facebook:before
{
    content: '\e908';
}

.icon-vk:before
{
    content: '\e909';
}

.icon-right:before
{
    content: '\e90a';
}

.icon-left:before
{
    content: '\e90b';
}

.icon-handshake:before
{
    content: '\e90c';
}

.icon-money:before
{
    content: '\e90d';
}

.icon-people:before
{
    content: '\e90e';
}

.icon-glasses:before
{
    content: '\e90f';
}

.icon-mobile:before
{
    content: '\e910';
}

.icon-mail:before
{
    content: '\e911';
}
