.header
{
    background: url('img/header-bg.png') no-repeat;
    background-size: cover;
}
.header__top
{
    height: 95px; 

    background: #121212;
}
.header__top__logo
{
    position: absolute;
    z-index: 100; 
    top: 0;

    width: 100px;
}
.header__top .col-md-6:first-child .header__top__contact
{
    margin-left: 30px;
}
@media (max-width: 1055px)
{
    .header__top .col-md-6:first-child .header__top__contact
    {
        margin-left: 50px;
    }
}
.header__top__contact
{
    display: flex; 

    color: #fff;
}
.header__top__contact span
{
    font-size: 15px;

    padding-right: 40px; 

    letter-spacing: .4px;
}
@media (max-width: 1055px)
{
    .header__top__contact span
    {
        font-size: 10px; 

        padding-right: 5px;
    }
}
.header__top__contact__mail i
{
    font-size: 23px;
}
.header__top__contact__mail a
{
    font-size: 17px;
    font-weight: 500;

    padding-left: 12px; 

    text-decoration: none;
    letter-spacing: .4px;

    color: #fff;
}
@media (max-width: 1055px)
{
    .header__top__contact__mail a
    {
        font-size: 12px;
    }
}
.header__top__phone i
{
    font-size: 22px;

    padding-right: 10px; 

    color: #fff;
}
.header__top__phone a
{
    font-size: 18px;
    font-weight: 300;

    letter-spacing: .5px;

    color: #fff;
}
@media (max-width: 1055px)
{
    .header__top__phone a
    {
        font-size: 12px;
    }
}
.header__slider
{
    position: relative;

    height: 600px;
}
@media (max-width: 767px)
{
    .header__slider
    {
        height: 800px;
    }
}
.header__slider .swiper-container
{
    position: absolute;
    top: 0;
    right: 0;

    width: 40%;
    height: 100%; 

    color: #fff;
    background: rgba(10, 10, 10, .5);
}
@media (max-width: 1055px)
{
    .header__slider .swiper-container
    {
        width: 100%;
    }
}
.header__slider .swiper-container .swiper-slide
{
    box-sizing: border-box; 
    padding: 0 100px;
}
@media (max-width: 767px)
{
    .header__slider .swiper-container .swiper-slide
    {
        padding: 0 20px;
    }
}
.header__slider h1
{
    font-size: 30px;
    font-weight: 900;

    margin-top: 0;
    margin-bottom: 60px;

    text-align: left; 
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
}
@media (max-width: 767px)
{
    .header__slider h1
    {
        font-size: 20px;
    }
}
.header__slider p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.39;

    margin-bottom: 60px; 

    text-align: left;
}
.header__slider a
{
    font-size: 15px;
}
@media (max-width: 767px)
{
    .header__slider a
    {
        padding: 10px;
    }
}
.header__nav
{
    height: 100px;

    background: #2f83c5;
}
.header__nav ul
{
    padding-left: 0; 

    list-style: none;

    justify-content: space-between;
}
.header__nav ul a
{
    font-size: 18px;
    font-weight: 500;

    cursor: pointer; 
    text-decoration: none;
    letter-spacing: .5px;
    text-transform: uppercase;

    color: #fff;
}
.header__nav ul a:hover
{
    text-decoration: underline;
}
@media (max-width: 1055px)
{
    .header__nav ul a
    {
        font-size: 14px;
    }
}
.header .mobile-menu
{
    width: 40px;
}

.menu
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 30px;

    transition: all .5s;
    transform: translateY(-100%);

    opacity: 0; 
    background: rgba(0, 0, 0, .8);
}
.menu .close
{
    font-size: 30px;

    margin: 20px;

    cursor: pointer; 
    text-align: right;

    color: #fff;
}
.menu ul
{
    padding-left: 0; 

    list-style: none;
}
.menu ul a
{
    font-size: 16px;

    display: block;

    padding: 10px 0;

    text-decoration: none; 

    color: #fff;
}
.menu .header__top__contact
{
    display: block;

    margin: 20px 0;
}
.menu .header__top__contact span
{
    display: block; 

    margin-bottom: 20px;
}

.open-menu
{
    transition: all .5s;
    transform: translateY(0%);

    opacity: 1;
}
