.container
{
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    padding: 0 30px;
}

.row
{
    height: 100%;
}

.flex
{
    display: flex;
}

body
{
    font-family: 'Muller';
    font-size: 16px;
}

p
{
    font-weight: 500;
    line-height: 1.25;

    letter-spacing: .7px;
}

h1
{
    font-size: 25px;
    font-weight: 900;

    letter-spacing: .8px;
    text-transform: uppercase; 

    color: #000;
}

img
{
    width: 100%;
}

.btn
{
    font-size: 20px;
    font-weight: 400;

    display: inline-block;

    padding: 30px 35px;

    cursor: pointer !important;
    transition: all .3s; 
    text-decoration: none;
    letter-spacing: .6px;
    text-transform: uppercase;

    color: #efefef;
    border-radius: 60px;
    background: #e41659;
    background-color: #e41659;
}
.btn:hover
{
    transition: all .3s; 

    color: #e41659;
    background: #fff;
}
.btn__orange
{
    color: #fff; 
    background: #f7a707;
}
.btn__orange:hover
{
    color: #f7a707;
}

.about__block
{
    margin: 95px 0;

    box-shadow: 0 0 29.8px 2.2px rgba(0, 0, 0, .1);
}
.about__block__content
{
    padding: 150px 115px;
}
@media (max-width: 767px)
{
    .about__block__content
    {
        padding: 20px;
    }
}
.about__block__content hr
{
    width: 280px; 

    opacity: .25;
    border: 1px solid #121212;
}
@media (max-width: 767px)
{
    .about__block__content hr
    {
        width: 40%;
    }
}
.about__block__content p
{
    font-weight: 500;
    line-height: 1.25;

    text-align: center;
    letter-spacing: .7px;

    color: #000;
}

.about__image
{
    width: 100%;
    height: 100%; 

    background-size: cover;
}
@media (max-width: 1055px)
{
    .about__image
    {
        height: 636px;
    }
}
@media (max-width: 767px)
{
    .about__image
    {
        height: 300px;
    }
}

.about__services .about__block__content
{
    padding: 150px 77px;
}
@media (max-width: 767px)
{
    .about__services .about__block__content
    {
        padding: 10px;
    }
}

.about__services .about__block h1
{
    font-size: 22px;

    margin-bottom: 60px;
}

.about__services .about__block ul
{
    padding-left: 65px; 

    list-style: none;
}
.about__services .about__block ul li
{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;

    padding-bottom: 10px;

    text-indent: -65px; 
    letter-spacing: .6px;

    color: #000;
}
.about__services .about__block ul li:before
{
    font-family: 'icomoon' !important;
    font-size: 25px;

    position: relative;
    top: 3px; 

    padding-right: 40px;

    content: '\e903';

    color: #f7a707;
}

.advantages
{
    padding: 30px 0 50px; 

    background: url('/img/advantages-1-bg.png') 50% 50%;
    background-size: cover;
}
.advantages i
{
    font-size: 60px;

    display: block;

    width: 100px;
    height: 100px;

    transition: all .3s; 

    color: #2f83c5;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, .2);
}
.advantages i:before
{
    position: relative;
    top: 19px;
}
.advantages i:hover
{
    transition: all .3s; 

    box-shadow: 0 0 0 7px #f7a707;
}
.advantages h2
{
    font-size: 18px;
    font-weight: bold;

    margin-top: 30px;

    letter-spacing: .5px;
    text-transform: uppercase;

    color: #fff;
    text-shadow: 0 0 32.5px rgba(47, 131, 197, .35);
}
.advantages__services
{
    padding: 65px 0;

    background: url('/img/advantages-2-bg.png') 50% 50%;
    background-size: cover;
}
.advantages__services__2
{
    background: url('/img/advantages-3-bg.png') 50% 50%;
    background-size: cover;
}
.advantages__services__2 i
{
    color: #f7a707;
}

@media (min-width: 1056px)
{
    .col-md-20
    {
        max-width: 20%; 

        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    }
}

@media (max-width: 767px)
{
    .hidden-xs
    {
        display: none;
    }
}

@media (min-width: 768px)
{
    .hidden-sm
    {
        display: none;
    }
}
